@using Microsoft.AspNetCore.Authentication

<h4>API 1</h4>
<a class="btn btn-primary m-2" asp-action="Index" asp-controller="Api1">API 1 Data</a>
<br />
<br />
<hr />
<br />

<h2>@Localizer["Claims"]</h2>

<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>

<h2>@Localizer["Properties"]</h2>

<dl>
    @foreach (var prop in (await Context.AuthenticateAsync()).Properties.Items)
    {
        <dt>@prop.Key</dt>
        <dd>@prop.Value</dd>
    }
</dl>